{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
    <h3>Task list :</h3>
    {% for task in tasks %}
        <div class="tasks">
            <p name="{{task.name}}">{{task.name}}</p>
            <input type="checkbox" id="{{task.id}}">
            <button>Completed</button>
            <button>Edit</button>
        </div>
    {% endfor %}
    <div id="msg_zone"></div>
{% endblock %}